BasedOnStyle: Google
NamespaceIndentation: None
ColumnLimit: 180
IndentWidth: 2
UseTab: Never

BreakBeforeBraces: Allman

# Sort includes, system includes last
IncludeCategories:
  - Regex:           '^((<|")(.*/detail)/)'
    Priority:        3
    SortPriority:    3
    CaseSensitive:   true
  - Regex:           '^((<|")(memory-mgr|gstl)/)'
    Priority:        2
    CaseSensitive:   true
  - Regex:           '<[[:alnum:].]+>'
    Priority:        5
    CaseSensitive:   true
  - Regex:           '<[[:alnum:]./_-]+>'
    Priority:        4
    CaseSensitive:   true
  - Regex:           '.*'
    Priority:        1
    SortPriority:    0

IncludeBlocks: Regroup
