
# /
/optimized
/release
/Debug
/*.cache
/*.ncb
/*.suo
/*.pcs
/*.kdevses
/*.in
/configure
/*.m4
/Release
/*.sdf
/*.opensdf
/x64
/ipch

# /examples/
/examples/[Bb]in
/examples/obj
/examples/[Dd]ebug
/examples/[Rr]elease
/examples/*.user
/examples/*.aps
/examples/*.eto
/examples/x64

# /memory-mgr/
/memory-mgr/[Bb]in
/memory-mgr/obj
/memory-mgr/[Dd]ebug
/memory-mgr/[Rr]elease
/memory-mgr/*.user
/memory-mgr/*.aps
/memory-mgr/*.eto
/memory-mgr/*.in
/memory-mgr/*.ncb
/memory-mgr/[Rr]elease_DeliverablesDrop
/memory-mgr/x64

# /memory-mgr/config/
/memory-mgr/config/*.in

# /memory-mgr/config/platform/
/memory-mgr/config/platform/*.in

# /memory-mgr/detail/
/memory-mgr/detail/*.in

# /memory-mgr/pool/

# /memory-mgr/pool/detail/

# /memory-mgr/sync/
/memory-mgr/sync/*.in

# /memory_visualizer/
/memory_visualizer/[Bb]in
/memory_visualizer/obj
/memory_visualizer/[Dd]ebug
/memory_visualizer/[Rr]elease
/memory_visualizer/*.user
/memory_visualizer/*.aps
/memory_visualizer/*.eto
/memory_visualizer/GeneratedFiles
/memory_visualizer/x64

# /memory_visualizer/Resources/

# /perf_tests/
/perf_tests/[Bb]in
/perf_tests/obj
/perf_tests/[Dd]ebug
/perf_tests/[Rr]elease
/perf_tests/*.user
/perf_tests/*.aps
/perf_tests/*.eto
/perf_tests/*.in
/perf_tests/.deps
/perf_tests/x64

# /perf_tests/detail/
/perf_tests/detail/*.in
/perf_tests/detail/.deps

# /postprocess_tools/
/postprocess_tools/[Bb]in
/postprocess_tools/obj
/postprocess_tools/[Dd]ebug
/postprocess_tools/[Rr]elease
/postprocess_tools/[Rr]elease_DeliverablesDrop
/postprocess_tools/*.user
/postprocess_tools/*.aps
/postprocess_tools/*.eto
/postprocess_tools/x64

# /unit_tests/
/unit_tests/[Bb]in
/unit_tests/obj
/unit_tests/[Dd]ebug
/unit_tests/[Rr]elease
/unit_tests/*.user
/unit_tests/*.aps
/unit_tests/*.eto
/unit_tests/.deps
/unit_tests/x64
*.Build times.csv


# Automake files
Makefile.cvs
config.guess
config.sub
configure.in
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
