
# /
/Debug
/*.ncb
/*.suo
/Release
/ipch
/*.opensdf
/*.sdf

# /gstl/
/gstl/[Bb]in
/gstl/obj
/gstl/[Dd]ebug
/gstl/[Rr]elease
/gstl/*.user
/gstl/*.aps
/gstl/*.eto
/gstl/[Rr]elease_DeliverablesDrop
/gstl/x64

# /unit_tests/
/unit_tests/Debug
/unit_tests/Release
/unit_tests/*.user
/unit_tests/[Bb]in
/unit_tests/obj
/unit_tests/[Dd]ebug
/unit_tests/[Rr]elease
/unit_tests/*.aps
/unit_tests/*.eto
/unit_tests/[Rr]elease_DeliverablesDrop
